    * {
        margin: 0px;
        padding: 0px;
    }

    @font-face {
        src: url(../assets/fonts/Blacksword.otf);
        font-family: blacksword;
    }

    @font-face {
        src: url(../assets/fonts/GreatVibes-Regular.ttf);
        font-family: sub;
    }

    @font-face {
        src: url(../assets/fonts/Born\ Again\ Demo.ttf);
        font-family: substyle;
    }

    @font-face {
        src: url(../assets/fonts/FreshMulberryDemoRegular.ttf);
        font-family: head;
    }

    @font-face {
        src: url(../assets/fonts/Aishiteru\ Darling.otf);
        font-family: food;
    }

    html {
        scroll-behavior: smooth;
    }

    .logo_img {
        height: 150px;
        width: 130px;
        margin-top: -11%;
    }

    #name {
        color: #921252;
        margin-top: 18px;
        font-family: sub;
        letter-spacing: 1px;
        color: #4e2e29;
    }

    .logo {
        display: flex;
        float: left;
    }

    .nav {
        list-style: none;
    }

    .nav-iteam {
        float: left;
    }

    .nav-link {
        text-decoration: none;
        padding: 14px 15px;
        margin: 15px;
        display: block;
        position: relative;
        font-size: 1.3rem;
        font-family: head;
        color: #921252;
    }

    .nav-link::after {
        content: '';
        height: 3px;
        width: 0%;
        background-color: rgb(245, 75, 75);
        overflow: hidden;
        position: absolute;
        bottom: 10px;
        left: 16px;
        transition: .4s;
    }

    .nav-link:hover:after {
        width: 60%;
    }

    .nav-link:hover {
        color: rgb(241, 64, 64);
    }

    .img_text:hover {
        color: rgb(245, 75, 75);
    }

    #contact {
        border: 1px solid black;
        padding: 15px 20px 15px 30px;
        border-radius: 20px;
        border: none;
        outline: none;
        background-color: rgb(245, 75, 75);
        font-size: 20px;
        color: white;
        cursor: pointer;
        position: relative;
        top: 22px;
    }

    .img_text {
        font-size: 1.1rem;
        margin-right: 20px;
        margin-left: 10px;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: underline;
        text-transform: capitalize;
        text-decoration-thickness: 3px;
        text-decoration-color: rgb(245, 75, 75);
        transition: 1s;
        cursor: pointer;
        color: #921252;
        position: relative;
        top: 22px;
    }
    #watch a
    {
        text-decoration: none;
        color: rgb(245, 75, 75);
    }
    .phone {
        margin: 0px 5px -9px -10px;
        height: 30px;
        width: 30px;
    }

    #img_contant {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sloganmain {
        margin-top: -70%;
    }

    .slogan {
        font-family: substyle;
        font-weight: bold;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 5rem;
        color: #921252;
    }

    .sub {
        font-size: 2.5rem;
        text-align: center;
        padding: 10px;
        font-family: sub;
    }

    .review {
        height: 120px;
        width: 300px;
        background-color: white;
        margin: -27% 0px 0px 10%;
        padding: 10px;
        border-radius: 5px;
    }

    .review p {
        color: #921252;
        font-size: 1.4rem;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        display: flex;
        justify-content: center;
        text-align: center;

    }

    .review img {
        height: 25px;
        width: 50%;
        margin-left: 30%;
    }

    .contact_image {
        height: 585px;
        width: 100%;
        background-image: url(../assets/image/top-view-delicious-snacks-arrangement.jpg);
        background-size: 50% 700px;
        background-repeat: no-repeat;
        background-position: 100% 45px;
    }

    #menu {
        height: 45px;
        width: 140px;
        font-size: 1.2rem;
        background-color: rgb(245, 75, 75);
        color: white;
        font-weight: bold;
        border-radius: 50px;
        padding: 20px 10px 0px 10px;
        margin: 5% 0px 0px 16%;
        text-align: center;
        margin-left: 25%;
    }

    #watch {
        color: rgb(238, 68, 68);
        font-size: 1.5rem;
        font-weight: bold;
        display: flex;
        text-decoration: none;
        justify-content: center;
        margin-top: -7%;
        margin-left: 30%;
    }

    #watch img {
        height: 35px;
        width: 40px;
        float: left;
        margin: -5px 5px 0px 0px;
        flex-direction: column;
    }

    .section2 {
        margin-top: 10%;
        text-align: center;
        width: 100%;
        height: 550px;
    }

    #bestway {
        font-size: 3.5rem;
        padding-bottom: 20px;
        font-family: blacksword;
    }

    .burger {
        height: 100px;
        width: 100px;
        margin-left: 31%;
        margin-bottom: 10px;
    }

    .burger img {
        height: 100%;
        width: 100%;
    }

    .cafe {
        height: 100px;
        width: 100px;
        margin-left: 32%;
        margin-bottom: 10px;
    }

    .cafe img {
        height: 100%;
        width: 100%;
    }

    /* #healthy_txt
    {
        font-family: "Poppins", sans-serif;
        font-style: normal;
    }
    #burger_txt
    {
        font-family: "Poppins", sans-serif;
        font-style: normal;
    }
    #cafe_txt
    {
        font-family: "Poppins", sans-serif;
        font-style: normal;
    } */
    #healthy_txt {
        font-size: 2.8rem;
        font-family: food;
        color: #4e2e29;
    }

    #burger_txt {
        font-size: 2.8rem;
        font-family: food;
        color: #4e2e29;
    }

    #cafe_txt {
        font-size: 2.8rem;
        font-family: food;
        color: #4e2e29;
    }

    .healthy {
        height: 100px;
        width: 100px;
        margin-left: 31%;
        margin-bottom: 10px;
    }

    .healthy img {
        height: 100%;
        width: 100%;
    }

    .card1 {
        display: flex;
        justify-content: space-around;
    }

    .section2_border {
        border: 1px solid black;
        border: none;
        padding: 20px 60px 80px 60px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    .section2_border h1 {
        margin-bottom: 10px;
        color: #4e2e29;
    }

    .section3 {
        width: 100%;
        background-color: #4e2e29;
    }

    .section3 h1 {
        color: white;
        padding: 30px;
    }

    .dishes h1 {
        color: white;
        padding: 10% 40% 0px 5%;
        font-size: 3rem;
        float: left;
    }

    .dishes a {
        color: white;
        text-decoration: none;
        height: 30x;
        width: 50px;
        background-color: rgb(238, 68, 68);
        padding: 25px 50px 25px 50px;
        border-radius: 50px;
        font-size: 1.3rem;
    }

    .full_menu {
        padding-top: 12%;
    }

    .dishes_contant {
        color: #b9928b;
        margin: 10px 0px 0px 5%;
        font-size: 1.3rem;
    }

    .food_iteam {
        margin: 20px;
    }

    .foods {
        list-style: none;
        margin: 0px;
    }

    .nav_food {
        float: left;
    }

    .food_time {
        color: white;
        text-decoration: none;
        padding: 15px;
        font-size: 1.5rem;
        font-family: head;
    }

    .food_time:hover {
        text-decoration: underline;
        color: rgb(231, 55, 55);
        bottom: 10px;
    }

    .food_time:active {
        color: rgb(231, 55, 55);
    }

    .food_iteam_bottom {
        margin: 4% 5% 0px 4%;
    }

    .food_timing {
        border: 2px solid white;
        height: 250px;
        width: 200px;
        display: flex;
        background-color: white;
        border-radius: 10px;
        margin: 0px 20px 20px 20px;
        flex-direction: column;
    }

    .food_image {
        height: 90px;
        width: 100px;
    }

    .food_image img {
        margin: 4% 0px 10px 50%;
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }

    .food_card {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .food_name {
        font-weight: bold;
        font-size: 1.2rem;
        margin-top: 3%;
        text-align: center;
        color: black;
        font-family: "Poppins", sans-serif;
        font-style: normal;
    }

    .food_contant {
        text-align: justify;
        padding: 2px 2px 10px 2px;
        color: black;
        font-family: "Poppins", sans-serif;
        font-style: normal;
    }

    .Order {
        text-align: center;
        font-weight: bold;
        display: block;
        position: relative;
        color: rgb(231, 55, 55);
        transition: 1s;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .Order::before {
        content: '';
        position: absolute;
        width: 42%;
        height: 2px;
        bottom: 0px;
        background-color: rgb(231, 55, 55);
        transition: 1s;
    }

    .Order:hover {
        letter-spacing: 2px;
    }

    .Order:hover::before {
        width: 50%;
    }

    .registration {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .registration_img {
        height: 550px;
        width: 650px;
    }

    .registration_img img {
        height: 100%;
        width: 100%;
        margin: 20px 0px 0px 20px;
    }

    .book_table {
        text-align: center;
        margin-top: 50px;
        font-size: 2.5rem;
        color: #4e2e29;
        font-family: blacksword;
    }

    form {
        margin-left: 20%;
    }

    input[type="number"] {
        border: 1px solid #eaeaea;
        width: 70%;
        padding: 10px 10px 10px 2px;
        margin-bottom: 20px;
        border-radius: 30px;
    }

    input[type="number"]:hover {
        border: 1px solid rgb(231, 55, 55);
    }

    input[type="date"] {
        border: 1px solid #eaeaea;
        width: 20%;
        border-radius: 30px;
        padding: 10px;
        margin: 10px 20px 10px 0px;
    }

    input[type="date"]:hover {
        border: 1px solid rgb(231, 55, 55);
    }

    #comment {
        border: 1px solid #eaeaea;
        border-radius: 20px;
        width: 72%;
        margin: 10px 10px 20px 0px;
        padding: 10px;
    }

    #comment:hover {
        border: 1px solid rgb(231, 55, 55);
    }

    #time {
        border: 1px solid #eaeaea;
        border-radius: 20px;
        padding: 10px;
        width: 30%;
        margin: 10px 10px 20px 0px;
    }

    #time:hover {
        border: 1px solid rgb(231, 55, 55);
    }

    .Request {
        border: 1px solid #eaeaea;
        width: 73%;
        background-color: rgb(231, 55, 55);
        font-size: 1rem;
        border-radius: 50px;
        padding: 5px;
        color: white;
        transition: 1s;
    }

    .Request:hover {
        background-color: #4e2e29;
        cursor: pointer;
    }

    .review_head {
        text-align: center;
        margin-bottom: 20px;
        font-size: 3rem;
        font-family: blacksword;
        color: #4e2e29;
    }

    .review_line {
        margin: 15px;
    }

    .review_border {
        border: 1px solid black;
        height: 30%;
        width: 25%;
        padding: 10px;
        margin: 10px 20px 20px 55px;
        text-align: justify;
        float: left;
        border-radius: 10px;
        border: none;
        box-shadow: rgba(9, 10, 10, 0.3) 0px 1px 2px 0px, rgba(11, 12, 14, 0.15) 0px 2px 6px 2px;
    }

    .profile img {
        height: 80px;
        width: 85px;
        border-radius: 50%;
        margin: 10px 0px 0px 35%;
    }

    .rating {
        margin: 5px;
    }

    .rating img {
        height: 20px;
        width: 30%;
    }

    .review_border .para {
        padding: 20px 20px 10px 20px;
        font-family: "Poppins", sans-serif;
        font-style: normal;
    }

    .rating {
        display: flex;
        justify-content: center;
    }

    .insta_image {
        height: 100%;
        width: 100%;
    }

    .insta_image img {
        height: 235px;
        width: 337px;
        margin: 0px;
        float: left;
    }

    .end {
        height: 5vh;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }

    .end_logo {
        height: 150px;
        width: 130px;
    }

    .end_position {
        margin-right: 50px;
    }

    .name {
        margin: -18% 0px 0px 25%;
        font-size: 2rem;
        font-family: sub;
    }

    .end_para {
        margin: 8% 0px 0px 5%;
        text-align: justify;
        font-family: "Poppins", sans-serif;
        font-style: normal;
    }

    .app_logo {
        height: 100%;
        width: 100%;
    }

    .app_logo img {
        height: 20px;
        width: 20px;
        margin: 40px 10px 5px 10px;
        transition: 1s;
    }

    .logo_main {
        margin-left: 30px;
    }

    .app_logo img:hover {
        transform: translatey(-10px);
    }

    .footer2 {
        text-align: center;
    }

    .quick {
        font-family: sub;
        font-size: 15px;
        margin-top: 25%;
        color: #4e2e29;
    }

    .footer_nav {
        margin: 10px;
        display: block;
        position: relative;
        cursor: pointer;
        font-family: head;
        color: #4e2e29;
    }

    .footer_nav::after {
        content: '';
        height: 1px;
        width: 0%;
        background-color: rgb(245, 75, 75);
        overflow: hidden;
        position: absolute;
        bottom: 0px;
        left: 40%;
        transition: .4s;
    }

    .footer_nav:hover:after {
        width: 20%;
    }

    .footer_cake {
        margin: 10px;
        cursor: pointer;
        font-family: head;
        color: #4e2e29;
    }

    .footer_cake:hover {
        text-decoration: underline;
        text-decoration-color: rgb(245, 75, 75);
        color: rgb(245, 75, 75);

    }

    .footer3 div {
        margin: 10px;
    }

    .footer_contact {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 27%;
        font-family: sub;
        color: #4e2e29;
    }

    @media all and (max-width: 438px) {
        .logo {
            float: none;
        }

        .logo_img {
            height: 350px;
            width: 350px;
            margin: 0px;
            padding: 0px;
        }

        #name {
            margin-top: 16%;
            font-size: 4.5rem;
        }

        .nav-iteam {
            float: none;
        }

        .nav-link {
            text-align: center;
            font-size: 3rem;
        }

        .booking {
            margin-left: 28%;
        }

        .img_text {
            font-size: 2rem;
        }

        #contact {

            font-size: 30px;
        }

        .phone {
            height: 50px;
            width: 50px;
        }

        .nav-link::after {
            left: 44%;
        }

        .nav-link:hover:after {
            width: 13%;
        }

        .nav-link:hover {
            color: rgb(226, 54, 54);
        }

        .contact_image {
            width: 100%;
            background-size: 100% 70%;
            background-position: 0% 20px;
        }

        #img_contant {
            grid-template-columns: none;
        }

        .sub {
            font-size: 4rem;
            font-weight: bold;
            padding: 10px;
            text-align: center;
        }

        .sloganmain {
            margin: -10% 0px 0px 0px;
        }
        .menu_watch
        {
            margin-left: 6%;
        }

        #menu {
            height: 65px;
            width: 160px;
            font-size: 2rem;
            margin: 5% 0px 0px 25%;
        }

        #watch {
            color: rgb(238, 68, 68);
            font-size: 2.5rem;
            margin-left: 20%;
            display: block;
        }
        #watch img {
            height: 50px;
            width: 60px;
            margin: -4px 10px 0px 38%;
        }
        .review {
            height: 200px;
            width: 75%;
            border: 1px solid black;
            background-color: white;
            margin: 5% 0px 0px 9%;
        }

        .review p {
            font-size: 3.5rem;
        }

        .review img {
            height: 60px;
            width: 50%;
            align-items: end;
        }

        .author {
            font-size: 3rem;
        }

        .section2 {
            text-align: center;
            margin-top: 5%;
        }

        #bestway {
            font-size: 4rem;
        }

        #reservation {
            font-size: 2.6rem;
        }

        .card1 {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            column-gap: 20%;
        }

        .section2_border {
            padding: 5% 10% 12% 10%;
            margin: 3% 20% 3% 20%;
        }

        .burger {
            height: 110px;
            width: 120px;
            margin-left: 35%;
        }

        .cafe {
            height: 110px;
            width: 120px;
            margin-left: 35%;
        }

        .healthy {
            height: 110px;
            width: 120px;
            margin-left: 35%;
            margin-bottom: 10px;
        }

        .section2_border h1 {
            font-size: 3rem;
        }

        #burger_txt {
            font-size: 4.4rem;
        }

        #cafe_txt {
            font-size: 4.4rem;
        }

        #healthy_txt {
            font-size: 4.4rem;
        }

        .section3 {
            margin-top: 145%;
            width: 100%;
            height: 100%;
        }

        .section3 {
            font-size: 2rem;
        }

        .dishes h1 {
            padding: 10% 25% 0px 5%;
        }

        .full_menu a {
            font-size: 2rem;
        }

        .dishes_contant {
            color: white;
            padding-right: 30%;
            font-size: 1.9rem;
        }

        .food_iteam_bottom {
            margin: 6% 5% 0px 4%;
        }

        .food_name {
            font-size: 2.5rem;
        }

        .food_card {
            display: grid;
            grid-template-columns: none;
            justify-content: center;
            align-items: center;
        }

        .food_timing {
            height: 500px;
            width: 450px;
            font-size: 1.8rem;
        }

        .food_time {
            font-size: 2.3rem;
        }

        .food_image {
            height: 170px;
            width: 170px;
        }

        .food_contant {
            font-weight: bold;
            font-size: 2.1rem;
        }

        .food_image img {
            margin: 4% 0px 0px 80%;
        }

        .Order {
            margin-top: 15px;
            font-size: 1.9rem;
        }

        .Order::before {
            width: 37%;
        }

        .Order:hover::before {
            width: 45%;
        }

        .registration {
            grid-template-columns: none;
        }

        .registration_img img {
            height: 0px;
            width: 0px;
        }

        .registration_form {
            margin-top: -55%;
        }

        .book_table {
            font-size: 5rem;
            font-weight: bold;
        }

        input[type="number"] {
            font-size: 2.5rem;
            padding: 20px 20px 20px 10px;
        }

        input[type="date"] {
            width: 30%;
            border-radius: 30px;
            font-size: 2.5rem;
            padding: 10px 50px 10px 10px;
            margin: 0px 10px 10px 0px;
            border: none;
        }

        #comment {
            font-size: 2.5rem;
        }
         .para
         {
           font-weight: bold;
         }
        #time {
            font-size: 2.5rem;
        }

        .Request {
            border: 1px solid #eaeaea;
            width: 73%;
            font-size: 2.5rem;
            padding: 20px;
        }

        .review_border {
            width: 50%;
            margin: 10px 20px 20px 25%;
            float: none;
        }

        .para {
            font-size: 2rem;
        }

        .profile img {
            height: 100px;
            width: 100px;
            margin: 10px 0px 0px 37%;
        }

        .rating img {
            height: 40px;
            width: 40%;
        }

        .review_name {
            font-size: 2rem;
            font-weight: bold;
        }

        .review_head {
            margin-bottom: 5%;
            font-size: 4rem;
        }

        .rating {
            margin-top: 10px;
        }

        .insta_image img {
            height: 310px;
            width: 490px;
            float: none;
        }

        .section5 {
            display: flex;
            overflow: hidden;
        }

        .end {
            grid-template-columns: none;
        }

        .end_logo {
            height: 350px;
            width: 330px;
        }

        .name {
            margin: -16% 0px 0px 30%;
            font-size: 4rem;
        }

        .end_para {
            margin: 10% 0px 0px 7%;
            text-align: justify;
            font-size: 2rem;
            font-weight: bold;
        }

        .app_logo {
            height: 100%;
            width: 100%;
        }

        .app_logo img {
            height: 50px;
            width: 50px;
            margin: 50px 20px 10px 30px;
        }

        .app_logo img:hover {
            transform: translatey(-15px);
        }

        .quick {
            font-size: 2rem;
            margin-top: 10%;
        }

        .footer_nav {
            font-size: 2.2rem;
        }

        .footer_nav::after {
            left: 45%;
        }

        .footer_nav:hover:after {
            width: 10%;
        }

        .footer_cake {
            margin: 10px;
            font-size: 2.2rem;
        }

        .footer3 div {
            margin: 10px;
        }

        .footer_contact {
            font-size: 3rem;
            margin-top: 10%;
            text-align: center;
        }

        .footer_add {
            text-align: center;
            margin: 5px;
            font-size: 2rem;
        }

        .footer_num {
            text-align: center;
            margin: 5px;
            font-size: 2rem;
        }

        .footer_mail {
            text-align: center;
            margin: 5px;
            font-size: 2rem;
        }

        .main {
            display: grid;
            grid-template-columns: none;
        }

        .blog_ul {
            text-align: center;
        }

        .blog_ul h1 {
            font-size: 4rem;
        }

        .special {
            font-size: 2rem;
            margin: 20px;
        }

        .blog_contant {
            font-size: 2.5rem;
        }

        .blog_para {
            font-size: 1.6rem;
        }

        .special img {
            float: none;
            display: flex;
            margin-top: 0%;
            margin-right: 0px;
            margin-left: 43%;
            height: 15%;
            width: 15%;
        }

        .blog_slogn {
            font-size: 2.5rem;
        }

        .blog_date {
            font-size: 2rem;
        }

        .clouds {
            font-size: 2rem;
            margin: 5px;
        }

        .clouds_main {
            margin-right: 0px;
        }

        .Feed img {
            height: 100%;
            width: 90%;
        }

        .footer_add {
            font-size: 3rem;
        }
    }
        @media all and (max-width: 1300px)
        {
            #contact {
                top: 0px;
            }
        
            .img_text {
                top: 0px;
            }
            .phone {
                margin: 25px 5px -8px -10px;
                height: 30px;
                width: 30px;
            }
            .insta_image img {
                width: 320px;
            }
        }